[MESSAGES CONTROL]
# Only show warnings with the listed confidence levels. Leave empty to show
# all. Valid levels: HIGH, INFERENCE, INFERENCE_FAILURE, UNDEFINED.
confidence=UNDEFINED

disable=dangerous-default-value, line-too-long, import-error, logging-fstring-interpolation, logging-not-lazy, super-init-not-called, redefined-outer-name